<nav class="navbar navbar-dark" style="background-color: #e3f2fd;">
  <ul class="nav nav-pills nav-fill" >
    <%= link_to 'Admin', root_path,  class:"navbar-brand",style:"color:#06283D;"  %>

    <li class="nav-item">
      <%= link_to 'Home', root_path,  class:"nav-link active"  %>
    </li>
    <li class="nav-item" style = "color:white;">
      <%= link_to 'Article', articles_path,  class:"nav-link"  %>
    </li>
    <li class="nav-item">
      <%= link_to 'Medicine', medicines_path,  class:"nav-link"  %>
    </li>
    <li class="nav-item">
      
    </li>
  </ul>
</nav>