<div class="top-wrapper">
  <div class="top-left">
    <div class="left-welcome">
      <h3>Selamat datang di <span>Telemedicine</span></h3>
      <h4>Lakukan konsultasi online dengan dokter yang terpercaya, bersertifikat dan ahli di bidangnya</h4>
    </div>
  </div>
  <div class="top-right">
    <img <%= image_tag("undraw_doctors_hwty.png",  height: 655, width: 786) %>
  </div>
</div>